

h1{
    font-size: 60px;
    font-family: sans-serif;
    font-style: italic;
    
    font-variant: small-caps;
}
#Items h3 {
    font-size: 35px;
    font-family: sans-serif;
    font-style: italic;
    color:burlywood;
    font-variant: small-caps;
}
#cakes-display{
    font-size: 35px;
    font-family: sans-serif;
    padding:10px;
    margin-top: 50px;
    font-style: italic;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: grey;
    font-variant: small-caps;
    text-decoration: none;
}
   


#main-title{
    
    text-align: center;
    position: relative;
    margin:auto;
    
    width: 50%;

   

   
    
}

#left-div{
    position: relative;
  
float: left;
width:25%;


text-align: center;
padding-top:10px;


}
#Items{
    position: relative;
    float: left;
 text-align: center;
   
    margin: auto;
    
    width: 50%;
  
   
}

#right-div{
   position: relative;
    float: left;
    


width:25%;

text-align:center;
padding-top:10px;

}

#cakes-container{
    margin-top:500px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-left: 25%;
    text-align: left;
    width: 50%;
    
    
    
}
#cakes{
    
    text-align: center;
    
    padding:10px;
}
img{
    margin: auto;
    
    width:60%;
}

@media screen and (max-width: 800px) {
    #left-div, #right-div{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      margin-top: 15%;
    }
  }
  @media screen and (max-width: 800px) {
    #Items{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      float:right;
    }
  }
  @media screen and (max-width: 800px) {
    #cakes-container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      display: grid;
      grid-template-columns: 1fr;
      margin:auto;
    }
  }