

h1{
    font-size: 60px;
    font-family: sans-serif;
    font-style: italic;
    
    font-variant: small-caps;
}
h2{
  
}
li{
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  width:50%;
  margin-left: 25%;
  text-align: center;
  color:white;
  
  background-color: teal;
  border-radius:40px ;
  
}
#base-container
{
  margin-top: -2%;
  background-color: lightgrey;
  border-radius: 70px;
  min-height: 150vh;

}

#cakes-display{
 
    font-size: 40px;
    font-family: sans-serif;
   
   
    font-style: italic;
    color: white;
    
    border-radius: 10px;
    background-color:black;
    font-variant: small-caps;
    text-decoration: none;
}
#cakes-display:hover{
 
  font-size: 70px;
  font-family: sans-serif;
 
 
  font-style: italic;
  color:black;
  
  border-radius: 10px;
  background-color:darkgray;
  font-variant: small-caps;
  text-decoration: none;
}
   


#main-title{
    
    text-align: center;
    position: relative;
    margin:auto;
   
    
    width: 50%;

   

   
    
}

#left-div{
    position: absolute;
  
float: left;
width:25%;
top:0;

text-align: center;
padding-top:10px;


}
.self-info{
  margin-top: 10%;
}
#Items{
  
    position: relative;
    
 text-align: center;

   
    margin: auto;
    margin-top: 5%;
    
    width: 100%;
   
   
}
#Items h3 {
  
  
    font-size: 35px;
    font-family: sans-serif;
    font-style: italic;
    color:burlywood;
    font-variant: small-caps;
}

#right-div{
   position: relative;
    float: left;
    


width:25%;

text-align:center;
padding-top:10px;

}
h3 {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}


#cakes-container{
  position: relative;
    padding-top: 5%;
    display: grid;
   
    grid-template-columns: 1fr 1fr ;
    margin-left: 25%;
    
    border-radius: 70px;
    width: 50%;
    
    
    
}
#cakes{
    
    text-align: center;
    
    padding:15px;
}
#left-div img{
    margin: auto;
   
    width:60%;
    border:1px solid ;
    border-radius: 20px;
}
#cakes img{
  margin: auto;
  
    width:60%;
    border-radius: 20px;
}

@media screen and (max-width: 700px) {
    #left-div,.self-info{
      position: relative;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      margin-top: 10%;
      text-align: center;
    }
  
    #Items h2{
      padding-top: 10%;
      font-family: serif;
      font-size: 50px;
    }
    li{

    }
  
    #Items{
      position: relative;
      margin-top: 270%;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      
      
    }
    #cakes-display
    {
     
      margin-left:2% ;

    
    }
    #cakes-container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      display: grid;
      margin-top: 100px;
      grid-template-columns: 1fr;
     margin-left: 0%;
     padding-top: 15%;
      
    }
    #main-title{
      width: 100%;
    }
  }
 