

h1{
    font-size: 60px;
    font-family: sans-serif;
    font-style: italic;
    
    font-variant: small-caps;
}
h2{
  
}
li{
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  width:50%;
  margin-left: 25%;
  text-align: center;
  color:white;
  
  background-color: teal;
  border-radius:40px ;
  
}
#base-container
{
  margin-top: -2%;
  background-color: lightgrey;
  border-radius: 70px;
  min-height: 150vh;

}

#cakes-display{
 
    font-size: 40px;
    font-family: sans-serif;
   
   
    font-style: italic;
    color: white;
    
    border-radius: 10px;
    background-color:black;
    font-variant: small-caps;
    text-decoration: none;
}
#cakes-display:hover{
 
  font-size: 70px;
  font-family: sans-serif;
 
 
  font-style: italic;
  color:black;
  
  border-radius: 10px;
  background-color:darkgray;
  font-variant: small-caps;
  text-decoration: none;
}
   


#main-title{
    
    text-align: center;
    position: relative;
    margin:auto;
   
    
    width: 50%;

   

   
    
}

#left-div{
    position: absolute;
  
float: left;
width:25%;
top:0;

text-align: center;
padding-top:10px;


}
#left-div img{
  margin: auto;
 
  width:60%;
  border:1px solid ;
  border-radius: 20px;
}
.self-info{
  margin-top: 10%;
}
#Items{
  
    position: relative;
    
 text-align: center;

   
    margin: auto;
    margin-top: 5%;
    
    width: 100%;
   
   
}
#Items h3 {
  
  
    font-size: 35px;
    font-family: sans-serif;
    font-style: italic;
    color:burlywood;
    font-variant: small-caps;
}

#right-div{
   position: relative;
    float: left;
    


width:25%;

text-align:center;
padding-top:10px;

}
h3 {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}


#cakes-container{
  position: relative;
    padding-top: 5%;
   
    display: grid;
   
    grid-template-columns: 1fr 1fr;
    margin-left: 25%;
    
    
    border-radius: 70px;
    width: 50%;
   
    
    
    
}
#cakes{
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
    
    text-align: center;
}

 #cakes img{
   
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
  
  

    border-radius: 20px;
}
.button{

  font-style: italic;
  color: antiquewhite;
  font-size: 30px;
  
  border-radius: 10px;
  background-color:black;
  font-variant: small-caps;
  text-decoration: none;
 
}
#order-catalog{
  z-index: 9;
  position:fixed;
 
  margin-left: 25%;
  width: 50%;
  border-radius: 25px;
 
  background-color: white;
}
#order-catalog-form{
  text-align: center;
  position: relative;
  width: 70%;
  float: left;
}

#order-catalog-img{
  width:30%;
  float: left;
}
#order-catalog img{
  border-radius: 20px;
  
  width:90%;
}
select{
  background-color: #1bad08;
  border-radius: 10px;
  color: white;
  padding: 12px;
  width:30%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
#order-confirmation{
  z-index: 9;
  position:fixed;
 
  margin-left: 25%;
  width: 50%;
  border-radius: 25px;
  text-align: center;
 
  background-color: white;
}

@media screen and (max-width: 767px) {
    #left-div,.self-info{
      position: relative;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      margin-top: 10%;
      text-align: center;
    }
    #main-title{
     
      
      width: 100%;
      
    }
    h1{
      text-align: center;
      font-size: 50px;
    }
  
    #Items h2{
      padding-top: 10%;
      font-family: serif;
      font-size: 50px;
    }
   
  
    #Items{
      position: relative;
      margin-top: 270%;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      
      
    }
    #cakes-display
    {
     
      margin-left:2% ;

    
    }
    #cakes-container {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      display: grid;
      margin-top: 100px;
      grid-template-columns: 1fr;
     margin-left: 0%;
     padding-top: 15%;
      
    }
    #order-catalog{
      
      z-index: 9;
      position:fixed;
     margin:auto;
      
      width: 100%;
      border-radius: 25px;
     
      background-color: white;
    }
    #order-confirmation{
       z-index: 9;
      position:fixed;
     margin:auto;
      
      width: 100%;
      border-radius: 25px;
     
      background-color: white;
    }
    #order-catalog-img{
      border-radius: 20px;
      
      width:30%;
    }

  }
 
 